<!-- card -->

<div class="card">
    <div class="card__cover">
        <img src="{{imgSrc}}" alt="">
    </div>
    <div class="card__content">
        <div class="main__table-btns">
            <button class="main__table-btn main__table-btn--banned open-modal" [ngClass]="magnet ? '' : 'd-none'">
                <i class="icon ion-ios-magnet"></i>
            </button>
            <button class="main__table-btn main__table-btn--view" [ngClass]="monitor ? '' : 'd-none'"
                (click)="monitorMovie(tmdbId)">
                <i class="icon ion-ios-eye"></i>
            </button>

            <button class="main__table-btn main__table-btn--delete open-modal" [ngClass]="unmonitor ? '' : 'd-none'"
                (click)="emitUnMonitorAction(id!)">
                <i class="icon ion-ios-trash"></i>
            </button>
        </div>
        <h3 class="card__title"><a href="#">{{title}}</a></h3>
        <span class="card__category">
            <a href="#">{{genres}}</a>
        </span>
        <div>

            <span class="card__rate"><i class="icon ion-ios-star"></i>{{score}} <a [ngClass]="download ? '' : 'd-none'"
                    class="dashbox__more" href="#">{{downloadStatus}}</a></span>
        </div>
    </div>
</div>

<!-- end card -->