<section class="home">

    <section class="section">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="section__title">Monitored Movies</h2>
                </div>

                <ng-container *ngFor="let movie of movies">
                    <div class="col-4 col-sm-4 col-lg-3 col-xl-2.5">
                        <app-movie-single [title]="movie.englishName" [imgSrc]="movie.cover" [genres]="movie.genres"
                            [score]="movie.score" [tmdbId]="movie.tmdbId" [unmonitor]="true"
                            [download]="movie.downloadStatus != null ? true : false"
                            [downloadStatus]="movie.downloadStatus" [id]="movie.id"
                            (unMonitorAction)="unMonitorMovie($event)">
                        </app-movie-single>
                    </div>
                </ng-container>

            </div>
        </div>

        <app-pagination [totalPages]="totalPages" (changePageAction)="changeMoviePage($event)"></app-pagination>

    </section>

</section>